:root {
  --zinc-50: #fafafa;
  --zinc-100: #E1E1E6;
  --zinc-300: #C4C4CC;
  --zinc-400: #8D8D99;
  --zinc-600: #323238;
  --zinc-700: #29292e;
  --zinc-800: #202024;
  --zinc-900: #121214;

  --blue-500: #3b82f6;
  --blue-400: #60a5fa;

  --red-500: #F75A68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--zinc-900);
  color: var(--zinc-300);
  -webkit-font-smoothing: antialiased;
}

body, input, button, textarea {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}