.post {
  background: var(--zinc-800);
  border-radius: 4px;
  padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header > time {
  font-size: 0.875rem;
  color: var(--zinc-400);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  color: var(--zinc-100);
  line-height: 1.6;
}

.authorInfo span {
  color: var(--zinc-400);
  line-height: 1.6;
  font-size: 0.875rem;
}

.content {
  line-height: 1.6rem;
  color: var(--zinc-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--blue-500);
  text-decoration: none;
  transition: 0.2s;
}

.content a:hover {
  color: var(--blue-400);
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--zinc-600);
}

.commentForm > strong {
  line-height: 1.6;
  color: var(--zinc-100);
}

.commentForm textarea {
  width: 100%;
  background: var(--zinc-900);
  border: 0;
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 4px;
  color: var(--zinc-100);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type=submit] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  border: 0;
  background: var(--blue-500);
  color: var(--zinc-50);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.commentForm button[type=submit]:hover {
  background: var(--blue-400);
}

.commentList { 
  margin-top: 2rem;
}